server:
  port: 8080
spring:
  application:
    name: cc-ui
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
logging:
  level:
    root: INFO